<%- include ('templates/header'); -%>

<div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">DOB</th>
      <th scope="col">DOD</th>
      <th scope="col">Button</th>
    </tr>
  </thead>
  <tbody>
      <%authors.forEach(function(author){%>
            <tr>
    			<td><%=author.authorId%></td>
    			<td><%=author.firstName%></td>
    			<td><%=author.lastName%></td>
    			<td><%=author.dob.toString().split(' ').slice(0,4).join(' ')%></td>
    			<td><%=author.dod.toString().split(' ').slice(0,4).join(' ')%></td>
    			<td><a href='/author/<%=author.authorId%>/bio'>Info</a> | <a href='/author/<%=author.authorId%>/edit'>Edit</a> | <a href='#' class="deleteAuthor" id="<%=author.firstName%> <%=author.lastName%> <%=author.authorId%>" data-toggle="modal" data-target="#exampleModal">Delete</a> </td></tr>
    		</tr>
        <%});%>
  </tbody>
</table>
<a href="/author/new" class="btn btn-primary" type="submit">Add New Author</a>
<a class='btn btn-danger' href='/logout'>Logout</a>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are You Sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="confirmation" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" id="modalDeleteButton" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
</div>
<%- include ('templates/footer'); -%>